@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: Shabnam, sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.center-all {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 10px;
  background: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
  background: white;
  z-index: 9999;
  transition: all 300ms ease-in-out;
}

.scroll-down header {
  transform: translate3d(0, -100%, 0);
}
.scroll-up header {
  filter: drop-shadow(0 -10px 20px #aaa);
}
.menu-is-open {
  overflow: hidden;
}
.menu-is-open header {
  filter: none;
}
.twoLinesText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
